body {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #185a9d,
    #43cea2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table,
td,
tr {
  border: 1px solid rgb(243, 236, 236);
  color: white;
}
table {
  margin: 20vh auto auto auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  scale: 2;
}
caption {
  margin-bottom: 10px;
  font-family: "Braah One", sans-serif;
  font-family: "Bruno Ace SC", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
}
tr:first-child {
  background-color: lightskyblue;
  color: black;
}
